################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BarberShop.Client/.angular/cache/16.1.0/babel-webpack
/BarberShop.Client/.angular/cache/16.1.0/angular-webpack
/BarberShop.Client/resources
/BarberShop.Client/node_modules
/BarberShop.Client/.vs
/BarberShop.Client/.idea
/.vs/BarberShop
/BarberShop.Api/bin
/BarberShop.Api/obj
/BarberShop.Api/Properties/PublishProfiles
/BarberShop.Api/wwwroot/Files
/BarberShop.Domain/obj
/BarberShop.Domain/bin
/BarberShop.Repository/obj
/BarberShop.Repository/bin
/BarberShop.Service/obj
/BarberShop.Service/bin
/BarberShopApi/obj
/BarberShop.Client/dist/store-pro
/.vs/ProjectEvaluation
