################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BarberShop.Client/.angular/cache/16.1.0/babel-webpack
/BarberShop.Client/.angular/cache/16.1.0/angular-webpack
/BarberShop.Client/resources
/BarberShop.Client/node_modules
/BarberShop.Client/.vs
/BarberShop.Client/.idea
