<div class="password-strength" *ngIf="!isPasswordValid">
    <div class="autoHeight ion-no-margin ion-padding-start noPaddingItem" >
        <i   class="fa fa-check-circle-o valid ion-margin-end-sm " *ngIf="validMinLength">
        </i>
        <i  class="fa fa-times-circle-o invalid ion-margin-end-sm " *ngIf="!validMinLength">
        </i>
        <span class="w-75 font-sm">
            {{'validators.minlength' | translate }}
            {{passwordMinLength}}
        </span>
    </div>
    <div class="autoHeight ion-no-margin ion-padding-start noPaddingItem" >
        <i class="fa fa-check-circle-o valid ion-margin-end-sm " *ngIf="validPattern"></i>
        <i  class="fa fa-times-circle-o invalid ion-margin-end-sm " *ngIf="!validPattern"></i>
        <span class="w-75 font-sm">{{'validators.passwordPattern' | translate }}</span>
    </div>
    <div class="autoHeight ion-no-margin ion-padding-start noPaddingItem" >
        <i class="fa fa-check-circle-o valid ion-margin-end-sm " *ngIf="validMaxLength">
        </i>
        <i  class="fa fa-times-circle-o invalid ion-margin-end-sm " *ngIf="!validMaxLength">
        </i>
        <span class="w-75 font-sm">
            {{'validators.maxLength' | translate }}
            {{passwordMaxLength}}
        </span>
    </div>
</div>
