/* You can add global styles to this file, and also import other style files */
@import "src/assets/scss/bootstrap";
@import "src/assets/scss/app";
@import "src/assets/scss/icons";

.form-select {
  padding: 2px !important;
  width: 100%;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: #cccccc;
}

.ngx-pagination .current{
  background: var(--bs-primary) !important;
  border-radius: 5px !important;
}

