<div class="auth-page">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <!-- end col -->
            <div class="col-md-12">
                <div class="auth-bg justify-content-center align-items-center pt-md-5 p-4 d-flex" style="height: 100vh">
                    <div class="bg-overlay bg-dark"></div>
                    <div class="row justify-content-center align-items-center">
                        <div class="auth-full-page-content text-light d-flex p-sm-5 p-4"
                             style="background-color: rgba(10, 34 ,73, 0.64);border-radius: 31px;">
                            <div class="w-100">
                                <div class="d-flex flex-column h-100">
                                    <div class="auth-content my-auto">
                                        <div class="text-center mb-5" style="direction: ltr;">
                                            <img src="assets/images/logo-white.png" alt="" height="80">
                                            <span class="logo-txt text-light" style="font-size: 40px">Store Pro</span>
                                        </div>
                                        <!--<div class="text-start">
        <h5 class="mb-2 text-light">{{'WELCOME' | translate}}</h5>
    </div>-->
                                       

                                    <form #changePasswordForm="ngForm" (ngSubmit)="onChangePasswordClick(changePasswordForm)">

                                        <div class="alert alert-success text-center mt-2">
                                            <b>
                                                {{'user.resetPasswordLOgin'| translate}}
                                            </b>
                                        </div>

                                        <!--<div class="row">-->

                                        <div class="mb-3">
                                            <label for="password"
                                                   class="">{{'user.oldPassword'| translate }}</label>
                                            <div class="input-group auth-pass-inputgroup">
                                                <input class="form-control"
                                                       #oldPasswordToggle id="oldPassword" name="oldPassword" [type]="hide ? 'password' : 'text'"
                                                       #oldPassword="ngModel" [(ngModel)]="changePassword.oldPassword"
                                                       maxlength="60" required min-length-validator [minLength]="5"
                                                       placeholder="{{'user.oldPassword' | translate}}"
                                                       aria-label="Password"
                                                       aria-describedby="password-addon">
                                                <button class="btn btn-light text-primary" type="button"
                                                        (click)="hide = !hide"
                                                        id="password-addon">
                                                    <i class="fas "
                                                       [ngClass]="{'fa-eye': hide, 'fa-eye-slash': !hide}"></i>
                                                </button>
                                            </div>
                                            <app-validator [control]="oldPassword"></app-validator>
                                        </div>


                                        <div class="mb-3">
                                            <label for="password" class="">{{'user.password' | translate}}</label>
                                            <div class="input-group auth-pass-inputgroup">
                                                <input #passwordToggle
                                                       class="form-control"
                                                       #password="ngModel"
                                                       maxlength="60"
                                                       id="password"
                                                       name="password"
                                                       [type]="hideNewPas ? 'password' : 'text'"
                                                       [(ngModel)]="changePassword.password" required min-length-validator [minLength]="5"
                                                       placeholder="{{'user.password' | translate}}"
                                                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^\w\s]).*$">
                                                <button class="btn btn-light text-primary" type="button"
                                                        (click)="hideNewPas = !hideNewPas"
                                                        id="NewPassword-addon">
                                                    <i class="fas "
                                                       [ngClass]="{'fa-eye': hideNewPas, 'fa-eye-slash': !hideNewPas}"></i>
                                                </button>
                                            </div>
                                            <!-- <app-password-complexity [form]="changePasswordForm"
        [password]="changePassword.password"></app-password-complexity> -->
                                        </div>

                                        <div class="mb-3">
                                            <label for="password" class="">{{'user.confirmPassword' | translate}}</label>
                                            <div class="input-group auth-pass-inputgroup">
                                                <input #confirmPasswordToggle
                                                       #confirmPassword="ngModel"
                                                       class="form-control"
                                                       maxlength="60"
                                                       id="confirmPassword"
                                                       compare-field="password"
                                                       name="confirmPassword"
                                                       [type]="hideConfPas ? 'password' : 'text'"
                                                       [(ngModel)]="changePassword.confirmPassword" required min-length-validator [minLength]="5"
                                                       placeholder="{{'user.password' | translate}}"
                                                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^\w\s]).*$">
                                                <button class="btn btn-light text-primary" type="button"
                                                        (click)="hideConfPas = !hideConfPas"
                                                        id="ConPassword-addon">
                                                    <i class="fas "
                                                       [ngClass]="{'fa-eye': hideConfPas, 'fa-eye-slash': !hideConfPas}"></i>
                                                </button>
                                            </div>
                                            <app-validator [control]="confirmPassword"></app-validator>
                                        </div>

                                        <div class="mt-3 d-grid">

                                            <button class="btn btn-primary btn-block"
                                                    type="submit">
                                                {{'general.ChangePassword' | translate}}
                                            </button>


                                        </div>

                                    </form>

                                        <div class="mb-3">
                                            <div class="col-12 mt-3">
                                                <div class="dropdown d-block " ngbDropdown>
                                                    <button type="button"
                                                            class="btn w-100 header-item btn-block rounded herder-item-light"
                                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false" ngbDropdownToggle>
                                                        <img class="" *ngIf="selectedLanguage"
                                                             src="{{selectedLanguage.flag}}"
                                                             alt="Header Language"
                                                             height="16">
                                                        <span class="align-middle ms-2">{{selectedLanguage.text}}</span>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                                        <a href="javascript:void(0);" class="dropdown-item notify-item"
                                                           *ngFor="let item of listLang"
                                                           (click)="setLanguage(item)"
                                                           [ngClass]="{'active': selectedLanguage === item}">
                                                            <img src="{{item.flag}}" alt="user-image" class="me-1"
                                                                 height="12"> <span class="align-middle">{{item.text}}</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-4 text-center">
                                            <p class=" mb-0">
                                                <a routerLink="/authorization/sign-in"
                                                   class="text-white fw-semibold">
                                                    {{'AUTH.LOGIN' | translate}}
                                                </a>
                                            </p>
                                        </div>

                                        <!--</div>-->




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container fluid -->
</div>
