<form #changePasswordForm="ngForm" (ngSubmit)="onChangePasswordClick(changePasswordForm)">
    <div class="row">
        <div class="col-md-12">
            <label for="password"
                   class="">{{'user.oldPassword'| translate }}</label>
            <div class="input-group auth-pass-inputgroup">
                <input class="form-control"
                       #oldPasswordToggle id="oldPassword" name="oldPassword" [type]="hide ? 'password' : 'text'"
                       #oldPassword="ngModel" [(ngModel)]="changePassword.oldPassword"
                       maxlength="60" required min-length-validator [minLength]="5"
                       placeholder="{{'user.oldPassword' | translate}}"
                       aria-label="Password"
                       aria-describedby="password-addon">
                <button class="btn btn-light text-primary" type="button"
                        (click)="hide = !hide"
                        id="password-addon"><i
                        class="fas "
                        [ngClass]="{'fa-eye': hide, 'fa-eye-slash': !hide}"
                ></i></button>
            </div>
            <app-validator [control]="oldPassword"></app-validator>
        </div>


        <div class="col-lg-12">
            <label for="password" class="">{{'user.password' | translate}}</label>
            <div class="input-group auth-pass-inputgroup">
                <input #passwordToggle
                       class="form-control"
                       #password="ngModel"
                       maxlength="60"
                       id="password"
                       name="password"
                       [type]="hideNewPas ? 'password' : 'text'"
                       [(ngModel)]="changePassword.password" required min-length-validator [minLength]="5"
                       placeholder="{{'user.password' | translate}}"
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^\w\s]).*$">
                <button class="btn btn-light text-primary" type="button"
                        (click)="hideNewPas = !hideNewPas"
                        id="NewPassword-addon"><i
                        class="fas "
                        [ngClass]="{'fa-eye': hideNewPas, 'fa-eye-slash': !hideNewPas}"
                ></i></button>
            </div>
            <app-password-complexity [form]="changePasswordForm"
                                     [password]="changePassword.password"></app-password-complexity>
        </div>

        <div class="col-lg-12">
            <label for="password" class="">{{'user.confirmPassword' | translate}}</label>
            <div class="input-group auth-pass-inputgroup">
                <input #confirmPasswordToggle
                       #confirmPassword="ngModel"
                       class="form-control"
                       maxlength="60"
                       id="confirmPassword"
                       compare-field="password"
                       name="confirmPassword"
                       [type]="hideConfPas ? 'password' : 'text'"
                       [(ngModel)]="changePassword.confirmPassword" required min-length-validator [minLength]="5"
                       placeholder="{{'user.password' | translate}}"
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^\w\s]).*$">
                <button class="btn btn-light text-primary" type="button"
                        (click)="hideConfPas = !hideConfPas"
                        id="ConPassword-addon"><i
                        class="fas "
                        [ngClass]="{'fa-eye': hideConfPas, 'fa-eye-slash': !hideConfPas}"
                ></i></button>
            </div>
            <app-validator [control]="confirmPassword"></app-validator>
        </div>

        <div class="d-flex flex-wrap gap-2 text-end mt-2 align-items-end justify-content-end">
            <!--<button (click)="()" class="btn btn-outline-secondary waves-effect btn-rounded waves-light"
                    type="button">{{'GENERAL.DISCARD' | translate}}</button>-->
            <button
                    class="btn btn-primary waves-effect btn-rounded waves-light"
                    type="submit">{{'general.ChangePassword' | translate}}</button>
        </div>

    </div>


</form>
