<div class="card m-2">
    <div class="card-body p-3">
        <h5 class="mb-5 mt-3">{{ 'Assign Services to  Employee' | translate }}</h5>
        <app-pick-list 
        #assginedServices
        [sourceServices]="services"
                [targetServices]="assignedServices"
        >

        </app-pick-list>

        <div class="d-flex flex-wrap gap-2 text-end mt-2 align-items-center justify-content-center">
            <button (click)="backToList()"
                    class="btn px-5  btn-dark waves-effect btn-rounded waves-light"
                    type="button">{{ 'Back to list' | translate }}
            </button>

            <button 
            class="btn px-5 btn-primary waves-effect btn-rounded waves-light"
            type="button"
            (click)="save()">
        {{'Save' | translate}}
    </button>

        </div>
    </div>
</div>
